<menu>
    <option>
        <action>Print</action>
        <shortCut>Ctrl+P</shortCut>
    </option>
    <option>
        <action>Traslate</action>
        <shortCut>Ctrl+T</shortCut>
    </option>
    <option>
        <action>Find and Edit</action>
        <subMenu>
            <option>
                <action>Find</action>
                <shortCut>Ctrl+F</shortCut>
            </option>
            <option>
                <action>Cut</action>
                <shortCut>Ctrl+X</shortCut>
            </option>
            <option>
                <action>Copy</action>
                <shortCut>Ctrl+C</shortCut>
            </option>
            <option>
                <action>Paste</action>
                <shortCut>Ctrl+V</shortCut>
            </option>
        </subMenu>
    </option>
    <option>
        <action>Save and Share</action>
        <subMenu>
            <option>
                <action>Save</action>
                <shortCut>Ctrl+S</shortCut>
            </option>
            <option>
                <action>Save As</action>
                <shortCut>Ctrl+Shift+F</shortCut>
            </option>
            <option>
                <action>Copy Link</action>
                <shortCut>Ctrl+Shift+l</shortCut>
            </option>
        </subMenu>
    </option>
    <option>
        <action>Help</action>
        <subMenu>
            <option>
                <action>About</action>
                <shortCut>Ctrl+A</shortCut>
            </option>
            <option>
                <action>Whats New</action>
                <shortCut>Alt+Shift+N</shortCut>
            </option>
            <option>
                <action>Report Issue</action>
                <shortCut>Alt+Shift+I</shortCut>
            </option>
        </subMenu>
    </option>
    <option>
        <action>Exit</action>
        <shortCut>Esc</shortCut>
    </option>
</menu>
